@import url(reset.css);
@font-face {
	src: url(../font/Roboto-Bold.ttf);
	font-family:'Roboto-Bold';

}

@font-face {
	src: url(../font/Roboto-Medium.ttf);
	font-family:'Roboto-Medium';
}	

@font-face {
	src: url(../font/PermanentMarker-Regular.ttf);
	font-family:'Marker';
}	
